{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1 class="text-center">CSE Wait Times</h1>
  <div class="text-center">
    <p class="h4 mb-3"><strong>Wait time for CSE 115:</strong> {{ waitTime1 }} minutes</p>
    <p class="h4"><strong>Queue size:</strong> {{ queSize1 }}</p>
  </div>
  <br/>
  <div class="text-center">
    <p class="h4 mb-3"><strong>Wait time for CSE 116:</strong> {{ waitTime2 }} minutes</p>
    <p class="h4"><strong>Queue size:</strong> {{ queSize2 }}</p>
  </div>
  <br/>
  <div class="text-center">
    <p class="h4 mb-3"><strong>Wait time for CSE 220:</strong> {{ waitTime3 }} minutes</p>
    <p class="h4"><strong>Queue size:</strong> {{ queSize3 }}</p>
  </div>
{% endblock %}