{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container text-center mt-5">
  <h3>Login</h3>
  <div class="row mt-3">
    <div class="col-md-6 mx-auto">
      <button type="button" id="a" class="btn btn-info btn-lg btn-block">Student</button>
      <button type="button" id="b" class="btn btn-dark btn-lg btn-block mt-3">Instructor</button>
    </div>
  </div>
</div>

<script>
document.getElementById("a").addEventListener("click", function() {
    window.location.href = "/student-login";
});
document.getElementById("b").addEventListener("click", function() {
    window.location.href = "/instructor-login";
});
</script>

{% endblock %}
