{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1 align="center">Wait Times for {{ course.courseName }}</h1>
  <h2 align="center">The average wait time is: {{ waitTime}} minutes</h2>
  <h2 align="center">Queue lenght is: {{ queLength}}</h2>
  <div align="center">
    {% if user.is_authenticated %}
    <div class="container mt-4">
      <div class="card card-form">
          <form method="POST">
              <div class="form-group">
                  <label for="cardInfo">Swipe Card</label>
                  <input type="password" id="cardInfo" name="cardInfo" class="form-control" autofocus  onkeydown="if(event.keyCode == 13) this.form.submit();">
              </div>
              <p>Or</p>
              <div class="form-group">
                  <label for="ubit">Enter Ubit</label>
                  <input type="text" id="ubit" name="ubit" class="form-control" placeholder="Enter UBIT">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
    {% endif %} 
  </div>
  <ul class="list-group list-group-flush" id="que">
    {% for que, student in students_in_queue %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-6">
          {{ student.firstName }} {{ student.lastName }} ({{ student.ubit }})
        </div>
        <div class="col-md-4">
          {{ que.time }}
        </div>
        <div class="col-md-2">
          {% if user.is_authenticated %}
          <button type="button" class="close" onClick="removeName('{{ que.id }}')">
            <span aria-hidden="true">&times;</span>
          </button>
          {% endif %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  
{% endblock %}