{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
  <h3 align="center">Sign Up - Instructures only</h3>
  <div class="form-group">
    <label for="Ubit">UBIT</label>
    <input
      type="text"
      class="form-control"
      id="Ubit"
      name="Ubit"
      placeholder="Enter UBIT"
    />
  </div>
  <div class="form-group">
    <label for="code">Code word</label>
    <input
      type="text"
      class="form-control"
      id="code"
      name="code"
      placeholder="Enter secret code word"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
