{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container text-center mt-5">
  <h3>Sign Up</h3>
  <div class="row mt-3">
    <div class="col-md-6 mx-auto">
      <button type="button" id="c" class="btn btn-info btn-lg btn-block">Student</button>
      <button type="button" id="d" class="btn btn-dark btn-lg btn-block mt-3">Instructor</button>
    </div>
  </div>
</div>

<script>
document.getElementById("c").addEventListener("click", function() {
    window.location.href = "/student-sign-up";
});
document.getElementById("d").addEventListener("click", function() {
    window.location.href = "/instructor-sign-up";
});
</script>

{% endblock %}
